name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9, pypy2, pypy3]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox -r requirements.txt;
    - name: Test with pytest
      env:
        PYTHON_VERSION: ${{ matrix.python-version }}
      run: |
        # Remove . from python version
        ENV_NAME="${PYTHON_VERSION/./}"
        # Add "py" suffix for plain python version
        [[ ${ENV_NAME} =~ ^[0-9]+$ ]] && ENV_NAME="py${ENV_NAME}"
        tox -e "${ENV_NAME}"
